
{% extends 'main.html' %}
{% block content %}
{% load static %}

<div class="container">


<h3 class="mb-4">🔍 Rechercher un observateur</h3>

<form method="POST">

    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" name="telephone" class="form-control"
               placeholder="Entrer votre numéro de téléphone" required>
        <button class="btn btn-primary">Rechercher</button>

      <input id="tel" class="form-control" placeholder="Numéro de téléphone">
        <button onclick="chercher()" class="btn btn-success mt-2">Rechercher</button>

    <div id="resultat"></div>

        <script>
            function chercher() {
                let tel = document.getElementById("tel").value;

                fetch(/api/recherche/?telephone=${tel})
                .then(res => res.json())
                .then(data => {
                        if (data.error) {
                            document.getElementById("resultat").innerHTML =
                                <div class="alert alert-danger">${data.error}</div>;
                        } else {
                            document.getElementById("resultat").innerHTML = `
                                <div class="card mt-3">
                                    <div class="card-body">
                                        <p><b>Nom:</b> ${data.nom}</p>
                                        <p><b>Prénom:</b> ${data.prenom}</p>
                                        <p><b>Région:</b> ${data.region}</p>
                                        <p><b>Bureau:</b> ${data.prefecture}</p>
                                        <p><b>Statut:</b> ${data.commune}</p>
                                        <p><b>Statut:</b> ${data.picture}</p>
                                    </div>
                                </div>`;
                            }
                    });
               }
        </script>
    </div>
</form>

{% if erreur %}
<div class="alert alert-danger">{{ erreur }}</div>
{% endif %}

{% if observateur %}
<div class="card mt-4">
    <div class="card-header bg-success text-white">
        Informations de l’observateur
    </div>
    <div class="card-body">
        <p><strong>Nom :</strong> {{ observateur.nom }}</p>
        <p><strong>Prénom :</strong> {{ observateur.prenom }}</p>
        <p><strong>Téléphone :</strong> {{ observateur.region }}</p>
        <p><strong>Région :</strong> {{ observateur.prefecture }}</p>
        <p><strong>Bureau de vote :</strong> {{ observateur.commune }}</p>
        <p><strong>Statut :</strong> {{ observateur.picture }}</p>
    </div>
</div>

{% endif %}
</div>
{% endblock %}
